html {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(194, 74, 38);
}

header {
    background-image: radial-gradient(rgba(43, 255, 0, 0.678), rgb(1, 87, 23));
}

h2{
    text-align: center;
}

nav ul li {
    display: inline-block;
    background-color: rgb(245, 229, 11);
    width: 100px;
    text-align: center;
}

footer {
    text-align: right;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: -10px
}

.flex-link {
    display: flex;
    order: 2;
}

.flex-mando {
    display: flex;
    order: 2;
}

.flex-inicio {
    display: flex;
    order: 3;
}

.flex-main {
    display: flex;
}

.flex-foto {
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
}

.flex-form {
    margin-top: 440px;
    margin-right: 200px;
}

.flex-h3 {
    margin-top: 440px;
    width: 100px;
} 